
:root {
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    --Coyote: rgb(122, 108, 93);
    --Charcoal: rgb(42, 61, 69);
    --Dun: rgb(221, 201, 180);
    --Khaki: rgb(188, 172, 155);
    --Old-rose: rgb(193, 124, 116);
}

.nav-links li:nth-child(2) a {
    color: var(--Old-rose); 
}






/* Shop */

.store-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: var(--Khaki);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--Charcoal);
}

.product-container {
    width: 70vw;
    height: 70vh;
    display: flex;
}

.filter-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 100px;
}

.filter-menu select {
    /* appearance: none; */
    text-align: center;
    text-align-last: center;
    
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 0 1em 0 0;
    margin: 10px;
    width: 150px;
    height: 40px;
    font-family: inherit;
    font-size: 1.5rem;
    cursor: inherit;
    line-height: inherit;
    color: var(--Charcoal);
}

.filter-menu select option {
    background-color: var(--Khaki);
    color: var(--Charcoal);
}

.product-list {
    background-color: green;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow-y: scroll;

    align-items: center;
    justify-items: center;

    gap: 20px;

}


.product-card {
    width: 10vw;
    height: 30vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.product-card img {
    width: 80%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

.product-card button {
    padding: 0px;
    width: 70%;
    height: 10%;
    font-size: 1.2rem;
}

