/* || General styles */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    --Coyote: rgb(122, 108, 93);
    --Charcoal: rgb(42, 61, 69);
    --Dun: rgb(221, 201, 180);
    --Khaki: rgb(188, 172, 155);
    --Old-rose: rgb(193, 124, 116);
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

button {
    padding: 9px 25px;
    background-color: rgba(42, 61, 69, 1);
    color: var(--Old-rose);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

button:hover {
    background-color: var(--Old-rose);
    color: var(--Charcoal);
    box-shadow: 0 5px 15px rgba(193, 124, 116, .8);
}


/* || Typography */


/* || Header and Main Navigation */

header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(221, 201, 180, 1);
    border-bottom: 1px solid var(--Coyote);
    z-index: 1;
}

.logo {
    cursor: pointer;
    object-fit: contain;
    width: 100px;
    height: 50px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;  

    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-size: 20px;
    color: var(--Charcoal);
    text-decoration: none;
}

.nav-links li a:hover {
    color: var(--Old-rose); 
}

.cta {
    margin-left: 20px;
}


.shop-profile-wrapper {
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.shopping {
    display: flex;
    flex-flow: row nowrap;
    /* position: absolute;
    right: 290px; */
    width: 30px;
    height: 30px;
}

.shopping i {
    box-sizing: border-box;
    width: 100%; 
    flex: none;

    font-size: 2rem;
    color: var(--Charcoal);
    transition: all 0.3s ease 0s;  
}

.shopping i:hover {
    color: var(--Old-rose);
}

.shopping span {
    box-sizing: border-box;
    width: 100%;
    flex: none;
    margin-left: -20%;
    margin-top: -10%;
    width: 15px;
    height: 15px;
    background-color: var(--Old-rose);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Charcoal);
    padding: 3px 10px;
}

.shopping:hover {
    cursor: pointer;
}



.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile a i {
    font-size: 2rem;
    color: var(--Charcoal);
    transition: all 0.3s ease 0s;  
}

.profile a i:hover {
    color: var(--Old-rose);
}

.name-log-sign-container {
    position: absolute;
    right: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-log-sign-container p {
    font-size: 1.5rem;
    color: rgb(42, 61, 69);
    margin-left: 20px;
}

.name-log-sign-container a {
    font-size: 1.5rem;
    color: rgb(42, 61, 69);
    text-decoration: none;
    transition: all 0.3s ease 0s;  
}

.name-log-sign-container a:hover {
    color: rgb(193, 124, 116);
}




footer {
    width: 100vw;
    height: 300px;
    background-color: var(--Charcoal);
    border-top: 1px solid grey;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2rem;
}

.footer-content p {
    font-size: 1.5rem;
}

.socials {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.socials li a {
    color: grey;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.socials li a:hover{
    color: var(--Old-rose);
}

.socials a i {
    font-size: 1.5rem;
}

